<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <%
    function activeClass(i) {
        return i==0?'active ':'';
    }
    %>
    <ol class="carousel-indicators">
        <% db.getEntities('Flower').forEach((_,i) => {
         %><li data-target="#myCarousel" data-slide-to="<%=i%>" class="<%=activeClass(i)%>"></li><%
        })%>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <% db.getEntities('Flower').forEach((flower,i) => {
            %><div class="<%='item ' + activeClass(i)%>">
                <img src="<%=flower.imageUrl%>" alt="Image">
                <div class="carousel-caption">
                    <h3><%=flower.price.toFixed(2)%> $</h3>
                    <p><%=flower.name%></p>
                </div>
            </div><%
        })%>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
    <h3>What We Do</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Current Project</p>
        </div>
        <div class="col-sm-4">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Project 2</p>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>Some text..</p>
            </div>
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div><br>

